# Client dependencies

sensorsclient/node_modules/

# Databases

*.db

# Python's .gitignores 

# Python cache

SensorsAPI/__pycache__/
*.pyc

# virtualenv

sensorsclient/node_modules/

venv/

#vscode 

.vscode/
