# Client dependencies

SensorsReactClient/node_modules/

# ApiKeys

ApiKeysVerifications/

# Databases

databases/
*.db

# Python's .gitignores 

# Python cache

SensorsAPI/__pycache__/
*.pyc

# virtualenv

venv/

#vscode 

.vscode/

#IDEA

.idea/
